.Mobile-icon{
    font-size: 1.3rem;
    color: white;
    margin: 0 15px;

}
.add{
    display: flex !important;
    height: 60% !important;
    padding: 30px 0;
}
@media (max-width:1078px) {

    /* ---------- Small-Nav --------- */

    #Nav-3{
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        text-align: center;
        position: absolute;
        z-index: 10;
        top: 80px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.671);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.4s ease;
    }
    #Nav-3>li i{
        display: none;
    }
    .nav-2>ul, .nav-wrapper{
        padding: 0 8vw;
    }
    .Hide{
        display: block;
    }
    
        /* ---------- Heading-main --------- */
    #tshirt{
        position: absolute;
        opacity: 0.4;
    }    
    #model{
        display: none;
    }
    .main-header-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

            /* ---------- Heading-main --------- */




    .Custom-img{
        width: 170px;
        height: 270px;
    }
    .p-text{
        width: 44ch;
    }


    .feature-img{
        width: 100%;
    }
    span{
        font-size: 1rem;
    }




    .Contact-wrapper>div{
        flex-direction: column;
        gap: 0;
    }
    /* Special Section */
    .special-wrapper{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:900px) {
    .Custom-img{
        width: 130px;
        height: 230px;
    }
    .p-text{
        width: 34ch;
    }

    .feature-img{
        width: 100%;
    }
    span{
        font-size: 1rem;
    }
    .feature-btn {
        padding: 10px 20px;
    }


      .third-sect-wrapper{
        gap: 30px;
      }
      .Custom-img-wrapper{
        gap:5px;
      }
      .features-wrapper{
        flex-direction: column;
    } 
}

@media (max-width:678px) {


    /* ---------- Custom-Section --------- */

    .third-sect-wrapper{
        flex-direction: column;
        gap: 70px;
    }



    /* ---------- Feature-Section --------- */
    .for-mobile{
        display: block;
        text-align: center;
    }
    .features-wrapper{
        flex-direction: column;
    } 

    /* Special Section */

    .special-img{
        width: 250px;
        height: 300px;
    }
    .special-wrapper h1{
        font-size: 2rem;
    }
    .special-wrapper span{
        font-size: 1.2rem;
    }
    .feature-price{
        text-align: center;
    }

    .para-text-2{
        flex-direction: column;
    }
}

@media (max-width:530px) {

      /* ---------- Custom-Section --------- */



       /* ---------- Feature-Section --------- */

       .heading-text h1{
        font-size: 1.8rem;
    }
       .feature-img-2 {
        width:100%;
      }
      .Contact-wrapper > div{
        align-items: center;
      }
    #email{
        width: 250px;
    }
    .sub-info{
        width: 100%;
    }


    .second-wrapper{
        width: 90%;
    }
    form{
        padding: 2rem;
    }
    dialog{
        width: 80%;
    }
    .btn-wrapper{
        padding: 15px 0;
    }
}


